<style>
    * {
      box-sizing: border-box;
    }
    
    #myInput {
      background-image: url('/css/searchicon.png');
      background-position: 10px 12px;
      background-repeat: no-repeat;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
    }
    
    #myUL {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    #myUL li a {
      border: 1px solid #ddd;
      margin-top: -1px; /* Prevent double borders */
      background-color: #f6f6f6;
      padding: 12px;
      text-decoration: none;
      font-size: 18px;
      color: black;
      display: block
    }
    
    #myUL li a:hover:not(.header) {
      background-color: #eee;
    }
</style>

{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block title %}

    <title>Ajouter un jeu</title>

{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}        
          {% if category == "done" %}
          <p style="color: green; font-weight: bold;">{{ message }}</p>
          {% endif %}                
      {% endfor %}
  {% endif %}
{% endwith %}

    <div class="container">
        <h1>Ajouter un jeu</h1>
        <div>
            <form action="{{url_for('addGame')}}" method="POST">
                {{ form.csrf_token }}            
                {{ form.hidden_tag() }}
    
                <ul class="form-group row" style="list-style:none; margin-left:0; padding-left:0;">
                    <li class="col-md-2 is-invalid" id="inputInvalid">
                        {{ wtf.form_field(form.name) }}
                    </li>
                    <li>
                        <input type="submit" value="+" class="btn btn-primary">
                    </li>
                </ul>
            </form>
            {% if messages %}
                {% for category, message in messages %}        
                    {% if category == "error" %}
                    <p style="color: red; font-weight: bold;">{{ message }}</p>
                    {% endif %}                
                {% endfor %}
            {% endif %}
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" >Jeux</th>
                    </tr>
                </thead>
                <tbody>     

                {% for game in games %}

                <tr>
                    <th scope="row">
                        {{ game["name"] }}
                    </th>
                    <td class="col-md-2">
                        <form method ="post" action="/actiongame">
                            <button type="submit" name="trash" value="{{ game['_id'] }}" class="btn btn-danger">🗑</button>
                        </form>                                       
                    </td>
                </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>
      
    </div>
    

{% endblock %}