{% extends "base.html" %}

{% block title %}

    <title>Accueil</title>

{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}        
          {% if category == "done" %}
          <p style="color: green; font-weight: bold;">{{ message }}</p>
          {% endif %}                
      {% endfor %}
  {% endif %}
{% endwith %}

    <div class="container">
        <h1>
            Bonjour
        </h1>
        <br>
        <p>
            Graçe a ce site vous pouvez créer une liste de jeu pour le week-end. Celle-ci sera mise en commun avec celle des autres joueurs et permettra a chacun de savoir si certain jeu seront trop ou pas assez présent.
        </p>
        <p>
            Faite attention au nom du jeu que vous ajoutez, je ne prendrais pas en compte les majuscules et les accents pour le recensement.
        </p>
        <br>
      
    </div>
    

{% endblock %}