{% extends "base.html" %}

{% block title %}

    <title>liste des jeux</title>

{% endblock %}


{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
      {% for category, message in messages %}        
          {% if category == "done" %}
          <p style="color: green; font-weight: bold;">{{ message }}</p>
          {% endif %}                
      {% endfor %}
  {% endif %}
{% endwith %}

    <div class="container">
        <h1>Liste des jeux</h1>
        <p>
            Voici les jeux ques les autres joueurs ont ajoutés dans leur liste.
        </p>
      
    </div>
    

{% endblock %}